
@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 400;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 300;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-Light.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 500;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 600;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 700;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 900;
  src: local('Post No Bills Jaffna'), url('/assets/PostNoBillsJaffna-ExtraBold.woff') format('woff');
}
